:root {
  --color-bg: #0a0f1c;
  --color-accent: #00e0ff;
  --color-text: #e0e0e0;
  --color-hover: #00bcd4;
  --color-card: rgba(255, 255, 255, 0.05);
  --font-main: "Orbitron", sans-serif;
  --transition-fast: 0.3s ease;
  --transition-fast: 0.6s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Orbitron', sans-serif;
  background: #0a0a0a;
  color: #fff;
  overflow-x: hidden;
}

#bgVideo {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  width: auto;
  height: auto;
  z-index: -2;
  object-fit: cover;
  filter: brightness(0.7);
  background: #000;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: rgba(0, 3, 16, 0.769);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
  padding: 1.2rem 2rem;
  border-radius: 0 0 30px 30px;
  box-shadow: 0 12px 30px rgba(0, 0, 50, 0.55);
  transition: all 0.4s ease;
  /* animation: fadeDown 0.6s ease forwards; */
}

@keyframes fadeDown {
  from { 
    opacity: 0; transform: translateY(-20px); 
  }
  to { 
    opacity: 1; transform: translateY(0); 
  }
}

.logo {
    width: 150px;
    height: auto;
    position: relative;
    margin-top: -70px;
    margin-left: -30px;
    object-fit: contain;
}

.site-title {
  font-size: 2.8rem;
  font-weight: 900;
  position: relative;
  color: #00c8ff;
  animation: glow 2.5s ease-in-out infinite alternate;
  font-family: 'Orbitron', Arial, sans-serif;
  line-height: 1;
  background: linear-gradient(90deg, #2600fb 0%, #009cea 90%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 14px #006aff77, 0 0 2px #007dfb9f;
  animation: shine 2.5s infinite alternate;
  will-change: filter;
  margin-top: -168px;
  margin-left: 110px;
}

.site-title h1 span {
  color: var(--color-text);
}

@keyframes shine {
  0% {
    filter: brightness(1.1) drop-shadow(0 0 10px #0069fb88);
  }
  100% {
    filter: brightness(1.5) drop-shadow(0 0 15px #0052eac1);
  }
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 150px;
}

nav ul li {
    position: relative;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px; /* cambiar */
    font-weight: 600;
    color: #f5f5f5;
    padding: 8px 14px;
    border-radius: 10px; /* cambiar */
    transition: 
        color 0.3s ease,
        background 0.3s ease,
        transform 0.25s ease,
        box-shadow 0.3s ease;
}

nav ul li a:hover {
    color: #e7e7e7c4;
    background: rgba(0, 51, 236, 0.179);
    transform: translateY(-2px) scale(1.05);
    box-shadow: 0 0 8px rgba(8, 14, 182, 0.5);
}
a
nav ul li a.active {
    color: #1da1f2;
    background: rgba(0, 157, 255, 0.12);
    box-shadow: inset 0 0 8px rgba(8, 115, 182, 0.5);
}

nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 6px;
    margin-left: -70px;
    background: rgba(0, 3, 16, 0.884);
    /* background: rgba(1, 2, 28, 0.868); */
    /* background: rgba(0, 44, 87, 0.95); */
    border-radius: 20px;
    min-width: 250px;
    padding: 10px 10px; /* cambiar */
    box-shadow: 0 6px 18px rgba(0, 2, 47, 0.672);
    backdrop-filter: blur(25px);
}

nav ul li:hover ul {
    display: block;
    transform: scale(1);
    z-index: 4;
}

nav ul li ul li a {
    padding: 0;
}

nav ul li ul li a {
    font-size: 23px;
    font-weight: 400;
    display: block;
    padding: 8px 20px;
    border-radius: 5px;
    transition: 
    background 0.3s ease,
    color 0.3s ease,
    padding-left 0.3s ease;
}

nav ul li ul li a:hover {
    background: #03265edc;
    color: #ccccccdd;
    padding-left: 30px;
}

.login-container {
    display: flex;
    align-items: center;
    color: #1da1f2;
    filter: grayscale(100%) brightness(3);
    z-index: 2;
}

.login-icon {
    width: 150px;
    height: auto;
    position: relative;
    margin-top: 10px;
    margin-right: 200px;
    margin-left: -17px;
    object-fit: contain;
    z-index: 2;
}

.login-icon:hover {
    transform: scale(1.1);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding: 4rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.section-welco {
  text-align: center;
}

.section-welco h2 {
  font-size: 4.8rem;
  font-weight: 900;
  position: relative;
  color: #00c8ff;
  animation: glow 2.5s ease-in-out infinite alternate;
  font-family: 'Orbitron', Arial, sans-serif;
  line-height: 1;
  background: linear-gradient(90deg, #2600fb 0%, #009cea 90%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 14px #006aff77, 0 0 2px #007dfb9f;
  animation: shine 2.5s infinite alternate;
  will-change: filter;
  z-index: -1;
}

@keyframes shine {
  0% {
    filter: brightness(1.1) drop-shadow(0 0 10px #0069fb88);
  }
  100% {
    filter: brightness(1.5) drop-shadow(0 0 15px #0052eac1);
  }
}

.section-welco p {
  font-size: 30px;
  background: #ffffff00;
  margin-top: 25px;
}

.section-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
  flex-wrap: wrap;
  background: rgba(0, 0, 20, 0.76);
  backdrop-filter: blur(5px);
  border-radius: 30px;
  padding: 3rem 2rem;
  width: 100%;
  box-shadow: 0 8px 24px rgba(0, 0, 62, 0.4);
  color: #f0f0f0;
  animation: fadeUp 0.8s ease forwards;
  transform: translateY(-60px);
  margin-top: 100px;
}

.section-box:hover {
  transform: scale(1);
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.section-hardware h2 {
  font-size: 3rem;
  font-weight: 900;
  position: relative;
  color: #0088ff;
  animation: glow 2.5s ease-in-out infinite alternate;
  font-family: 'Orbitron', Arial, sans-serif;
  line-height: 1;
  background: linear-gradient(90deg, #00209e 0%, #00a6ff 90%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 14px #011b3e77, 0 0 2px #064ba49f;
  animation: shine 2.5s infinite alternate;
  will-change: filter;
  z-index: -1;
}

.section-hardware p {
  text-align: left;
  font-size: 25px;
  margin-top: 20px;
  margin-left: 15px;
  line-height: 40px;
}

.section-hardware ul  {
  text-align: left;
  list-style: none;
  margin-left: 640px;
  margin-top: -292px;
}

.section-hardware ul li strong {
  color: #316ab1;
  font-size: 25px;
}

.section-software h2 {
  font-size: 3rem;
  font-weight: 900;
  position: relative;
  color: #0088ff;
  animation: glow 2.5s ease-in-out infinite alternate;
  font-family: 'Orbitron', Arial, sans-serif;
  line-height: 1;
  background: linear-gradient(90deg, #00209e 0%, #00a6ff 90%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 14px #011b3e77, 0 0 2px #064ba49f;
  animation: shine 2.5s infinite alternate;
  will-change: filter;
  z-index: -1;
}

.section-software p {
  text-align: left;
  font-size: 25px;
  margin-top: 20px;
  margin-left: 15px;
  line-height: 40px;
}

.section-software ul  {
  text-align: left;
  list-style: none;
  margin-left: 640px;
  margin-top: -210px;
}

.section-software ul li strong {
  color: #316ab1;
  font-size: 25px;
}

.section-tecnologia h2 {
  font-size: 3rem;
  font-weight: 900;
  position: relative;
  color: #0088ff;
  animation: glow 2.5s ease-in-out infinite alternate;
  font-family: 'Orbitron', Arial, sans-serif;
  line-height: 1;
  background: linear-gradient(90deg, #00209e 0%, #00a6ff 90%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 14px #011b3e77, 0 0 2px #064ba49f;
  animation: shine 2.5s infinite alternate;
  will-change: filter;
  z-index: -1;
}

.section-tecnologia p {
  text-align: left;
  font-size: 25px;
  margin-top: 20px;
  margin-left: 15px;
  line-height: 40px;
}

.section-tecnologia ul  {
  text-align: left;
  list-style: none;
  margin-left: 640px;
  margin-top: -255px;
}

.section-tecnologia ul li strong {
  color: #316ab1;
  font-size: 25px;
}

.section-sharkbot h2 {
  font-size: 3rem;
  font-weight: 900;
  position: relative;
  color: #0088ff;
  animation: glow 2.5s ease-in-out infinite alternate;
  font-family: 'Orbitron', Arial, sans-serif;
  line-height: 1;
  background: linear-gradient(90deg, #00209e 0%, #00a6ff 90%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 14px #011b3e77, 0 0 2px #064ba49f;
  animation: shine 2.5s infinite alternate;
  will-change: filter;
  z-index: -1;
}

.section-sharkbot p {
  text-align: center;
  font-size: 25px;
  margin-top: 20px;
  line-height: 40px;
}

.section-soporte h2 {
  font-size: 3rem;
  font-weight: 900;
  position: relative;
  color: #0088ff;
  animation: glow 2.5s ease-in-out infinite alternate;
  font-family: 'Orbitron', Arial, sans-serif;
  line-height: 1;
  background: linear-gradient(90deg, #00209e 0%, #00a6ff 90%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 14px #011b3e77, 0 0 2px #064ba49f;
  animation: shine 2.5s infinite alternate;
  will-change: filter;
  z-index: -1;
}

.section-soporte p {
  text-align: center;
  font-size: 25px;
  line-height: 40px;
}


footer {
  background: rgba(0, 3, 16, 0.85);
  backdrop-filter: blur(8px);
  padding: 2.5rem 2rem;
  text-align: center;
  font-size: 1.2rem;
  color: #ccccccb3;
  border-radius: 30px 30px 0 0;
  box-shadow: 0 -6px 20px rgba(0, 0, 50, 0.847);
  width: 100%;
}

.footer-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.3rem;
  margin-top: 20px;
}

.footer-links a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: #04438b;
  transition: 
    background 0.3s ease,
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.footer-links a:hover {
  transform: scale(1.1);
}

.footer-links a::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #053498;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.footer-links a:hover::after {
  transform: scaleX(1);
}

#header {
  transition: transform 0.4s ease, opacity 0.3s ease;
}

header.hide,
#header.hide {
  transform: translateY(-100%);
  opacity: 0;
}